################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication2/.vs/WebApplication2/FileContentIndex
/WebApplication2/WebApplication2/bin/Debug/net6.0
/WebApplication2/EntityFrameworkCore.Data/bin/Debug/net6.0
/WebApplication2/EntityFrameworkCore.Data/obj/Debug/net6.0
